@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slowFadeSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slowFadeSlide {
  animation: slowFadeSlide 1.2s ease-out forwards;
}
